[submodule "external/verl"]
	path = external/verl
	url = https://github.com/volcengine/verl.git
[submodule "external/agentscope"]
	path = external/agentscope
	url = https://github.com/agentscope-ai/agentscope.git
